<%- include('../partials/header') %>
<main>
    <!-- <h1>Calendar log of daily card readings</h1> -->
    <button class="dailycard"><a href="/entries/customs/new">Draw a daily card</a></button>
        <table id="entries-table">
        <thead>
            <tr>
                <th>delete</th>
                <th>Date</th>
                <th>Card Name</th>
                <th>Theme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% customs.forEach(function(e) { %>
            <tr>
                <td>
                    <form action="/entries/customs/<%= e._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                    </form>
                </td>
                <td><%= e.date.toLocaleDateString() %></td>
                <td><%= e.name %></td>
                <td><%= e.theme %></td>
                <td><a href="/entries/customs/<%= e._id %>">JOURNAL</a></th>
            </tr>
            <% }); %>
        </tbody>
        <tbody>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tbody>
    </table>
</main>
</body>
</html>
