<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Calendar log of daily card readings</h1>
    <a href="/entries/customs/new">Draw a daily card</a>
  <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Card Name</th>
                <th>Card Description</th>
                <th>Journal</th>
            </tr>
        </thead>
        <tbody>
            <% customs.forEach(function(e) { %>
            <tr>
                <th><%= e.date %></th>
                <th><%= e.name %></th>
                <th><%= e.description %></th>
                <th><%= e.journal %></th>
            </tr>
            <% }); %>
        </tbody>
        <tbody>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tbody>
    </table>
  </body>
</html>
