<%- include('../partials/header') %>
<main>
    <!-- <h1>Calendar log of daily card readings</h1> -->
    <button class="dailycard"><a href="/entries/customs/new">Add an entry</a></button>
        <table id="entries-table">
        <thead>
            <tr>
                <th>delete</th>
                <th>Date</th>
                <th>Card Name</th>
                <th>Theme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% customs.forEach(function(e) { %>
            <tr>
                <th>
                    <form action="/entries/customs/<%= e._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                    </form>
                </th>
                <th><%= e.date.toLocaleDateString() %></th>
                <th><%= e.name %></th>
                <th><%= e.theme %></th>
                <th><a href="/entries/customs/<%= e._id %>">JOURNAL</a></th>
            </tr>
            <% }); %>
        </tbody>
    </table>
</main>
</body>
</html>
