<%- include('../partials/header') %>
<body class="tarot-log">
<main>
    <h1><%= title %></h1>
    <div>
        <button class="add"><a href="/entries/customs/new">+ NEW</a></button>
    </div>
    <br>
        <table id="entries-table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Card Name</th>
                <th>Theme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% customs.forEach(function(e) { %>
            <tr>
                <th>
                    <form action="/entries/customs/<%= e._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete">X</button>
                    </form>
                </th>
                <th><%= e.date.toLocaleDateString() %></th>
                <th><%= e.name %></th>
                <th><%= e.theme %></th>
                <th><a href="/entries/customs/<%= e._id %>">JOURNAL</a></th>
            </tr>
            <% }); %>
        </tbody>
    </table> 
</main>
</body>
</html>
