<%- include('../partials/header') %>
<main>
    <!-- <h1>Calendar log of daily card readings</h1> -->
    <button class="dailycard"><a href="/entries/customs/new">Draw a daily card</a></button>
        <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Card Name</th>
                <th>Card Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% customs.forEach(function(e) { %>
            <tr>
                <th><%= e.date %></th>
                <th><%= e.name %></th>
                <th><%= e.description %></th>
                <th><a href="/entries/customs/<%= e._id %>">DETAILS</a></th>
            </tr>
            <% }); %>
        </tbody>
        <tbody>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tbody>
    </table>
</main>
</body>
</html>
