<%- include('../../partials/header') %>
<body class="daily-entry">
<main>
<h1 class="dark"><%= title %></h1>
<section id="show-page">
        <div class="property-title">Date</div>
        <div class="value-title"><%= custom.date.toLocaleDateString() %></div>
        <br><div class="property-title">Deck </div>
        <div class="value-title"><%= custom.deck %></div>
        <br><div class="property-title">Card </div>
        <div class="value-title"><%= custom.name %></div>
        <br><div class="property-title">Overall Theme </div>
        <div class="value-title"><%= custom.theme %></div>
        <br><div class="property-title">Description </div>
        <div class="value-title"><%= custom.description %></div>
        <br>
        <div class="subtitle"><h2 class="property-title">Journal</h2></div>
                <section class="journal">
                <% if (custom.journals.length) { %>
                        <% custom.journals.forEach(function(j) { %>
                                <p class="journal-entry"><i><%= j.text %></i></p>
                        <% }); %>
                <% } else { %>
                        <i>No entries</i>
                <% } %>
                </section>
</section>
<br>
<form id="add-journal-entry" method="POST" action="/entries/customs/<%= custom._id %>/journals">
        <textarea name="text" class="journal-text" wrap="soft"></textarea>
        <br><input type="submit" value="Add entry" id="add-journal-button">
</form>

</main>
</body>
</html>



